*{
    margin: 0;
    padding: 0;
    transition: all o,3s ease;
}
body{
    font-family: "Poppins", sans-serif;
    padding-top: 90px;
    background-color: rgb(202, 202, 202);
    color: black;
    margin-right: 10px;
    margin-left: 10px;
}
.headerpart{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}
.leftside{
    display: flex;
    align-items: center;
    width: px;
}
.leftside a{
    text-decoration: none;
}
.hamb{
    height: 26px;
    width: 26px;
    margin-left: 18px;
    cursor: pointer;
    padding: 2px;
    margin-right: 5px;
}
.hamb:hover{
    padding-left: 2px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}
.hamb:active{
    border-color: white;
}
.name{
    color: blue;
    font-size: 26px;
    font-weight: 600;
    font-style: italic;
    padding-left: 18px;
}
.middle{
    margin-left: 18px;
    display: flex;
    align-items: center;
    width: 450px;
}
.Searchbar{
    height: 35px;
    flex: 1;
    width: 30px;
    padding-left: 13px;
    font-size: 15px;
}
.Searchbar::placeholder{
    padding-left: 5px;
}
.searchbut{
    height: 39px;
    width: 50px;
    border-left: 0.15;
    cursor: pointer;
}
.searchico{
    height: 22px;
    margin-top: 5px;
}
.rightside{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 500px;
    flex-shrink: 0;
}

.rightside img{
    height: 21px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.rightside a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.rightside .loginicon{
    padding: 7px 10px;
    border-radius: 7px;
    border: 0;
    border-style: solid;
    display: flex;
}
.loginicon:hover{
    background-color: blue;
}
@media all and (max-width:800px){
    .headerpart .rightside{
        display: none;
    }
    .headerpart{
        gap: 0px;
    }
    .rightside.show{
        display: flex;
        flex-direction: column;
        background-color: rgb(107, 107, 107);
        top: 11%;
        left: 0;
        position: fixed;
        height: 130px;
        width: 200px;
        padding: 10px;
        align-items: center;
    }
}
.adimages{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    flex-shrink: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(161, 154, 154);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.adimages img{
    height: 80px;
    cursor: pointer;
}
.adimages p{
    cursor: pointer;
}
.mobile{
    display: flex;
    flex-direction: column;
    width: 70px;
    padding: 10px 0px;
}
.mobile p{
    font-size: 12px;
    font-weight: 700;
    width: 100px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}
.fashions p{
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    margin-left: 10px;
}
.electric p{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
}
.furn p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
}
.appl p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
}
.appl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flight p,
.beauty p,
.groc p{
    font-size: 14px;
    font-weight: 600;
}
.groce{
    margin-left: 10px;
}
.mobileaccs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* height: 300px; */
    width: auto;
    height: auto;
    flex-wrap: wrap;
    /* gap: 10px; */
    row-gap: 30px;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding: 22px;
}
.mobileaccs h2{
    display: inline-block;
    margin-top: 0px;
}
.mobileaccs img{
    height: 180px;
    cursor: pointer;
}
.mobileaccs img:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}
.real p{
    margin-top: 10px;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 5px;
}
.real h4{
    padding-left: 26px;
}
.oppo p{
    padding-left: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}
.oppo h4{
    padding-left: 26px;
}
.gal p{
    padding-left: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.gal h4{
    padding-left: 22px;
}
.oneplus p{
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 5px;
}
.oneplus h4{
    padding-left: 26px;
}
.realmezar p{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 13px;
}
.realmezar h4{
    padding-left: 22px;
}
.Fashion{
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    row-gap: 30px;
    /* height: 340px; */
    width: auto;
    height: auto;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    margin-top: 20px;
    padding: 22px;
}

.jack{
    margin-left: 35px;
    border-width: 1px;
    border: 0;
    box-shadow: 0 0px 6px rgba(0,0,0,0.1);
    border-color: gray;
    border-style: solid;
    padding: 15px;
}
.jack img{
    cursor: pointer;
    height: 200px;
    transition: transform 0.5s ease;
}
.jack img:hover{
    transform: scale(1.05);
}

.jack-title {
    font-size: 15px;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 5px; 
    cursor: pointer;
}
.jack-title button{
    cursor: pointer;
    margin-top: 5px;
    padding: 7px 13px;
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 5px;
}
.jack-title button:hover{
    /* opacity: 0.7; */
    box-shadow: 0px 0px 5px black;
}
.jack .offer{
    margin-top: 7px;
    font-size: 15px;
    color: gray;
}
.jack .offer:hover{
    color: rgb(0, 0, 0);
}
.homes{
    display: flex;
    /* height: 380px; */
    width: auto;
    height: auto;
    flex-wrap: wrap;
    /* gap: 10px;
    row-gap: 30px; */
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 20px;
    padding: 18px;
    align-items: center;
}
.headhome{
    height: 10px;
}
.headhome p{
    height: 10px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}
.homeimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 30px;
    /* padding: 15px 10px; */
}
.imagebox img{
    height: 180px;
    /* display: inline-block; */
    transition: tramsform 1.5s ease;
}
.imagebox{
    padding: 15px;
    align-content: center;
}
.imagebox:hover{
    box-shadow: 0 0px 8px rgba(0,0,0,0.5);
}
/* .homeimg img:hover{
    transform: scale(1.05);
} */
.homeimg p{
    width: 200px;
    font-size: 13px;
    margin-top: 7px;
}
.homeimg button{
   margin-top: 5px;
   /* background-color: rgb(0, 190, 0); */
   background-color: green;
   color: white;
   padding: 2px;
   border: 0;
   border-radius: 2px;
   cursor: pointer;
}
.homeimg button:hover{
    color: rgb(0, 78, 0);
    color: black;
}
.titlecard span{
    font-weight: 700;
    color: black;
}
.titlecard p{
    color: gray;
}
.titlecard p:hover{
    color: black;
}
.imagebox{
    transition: 0.5s ease;
}

.Tv{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    padding: 40px 10px;
    margin-top:20px;
}
.tvimage{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 30px;
}
.ove{
    width: 200px;
}
.tvimage p{
    width: 200px;
    font-size: 12px;
    margin-top: 8px;
}
.washings{
    height: 200px;
    width: 150px;
}
.acs{
    height: 100px;
    width: 200px;
}
.telev{
    width: 200px;
}
.refrig{
    height: auto;
}
.wash{
    padding: 21px;
    transition: box-shadow 0.5s ease;
    /* transition: transform 1.5s ease; */
}
.wash:hover{
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
}
.review p{
    margin-left: 8px;
}
.reviewsimg{
    display: flex;
    flex-wrap: wrap;
}
.wash .rev span{
    color: white;
    /* background-color: rgb(0, 161, 0); */
    background-color: green;
    padding: 2px;
    border: none;
    border-radius: 2px;
    margin-right: 4px;
}
.wash .rev span:hover,
.groceryimag .review #span:hover{
    /* color: rgb(0, 78, 0); */
    color: black;
}
.rev{
    color: gray;
    
}
.grocery{
    margin-top: 20px;
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 18px ;
    background-color: rgb(255, 255, 255);
    /* height: 340px; */
}
.grocimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 30px;
}
.grocimg img{
    height: 170px;
    width: 190px;
    cursor: pointer;
    transition: transform 1.9s ease;
}
.groceryimag{
    padding: 8px 18px 8px 18px;
}
.groceryimag:hover{
    /* transform: scale(1.05); */
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
.groceryimag p{
    width: 200px;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
}
.groceryimag .review #span{
    border: 1;
    font-size: 12px;
    background-color: green;
    color: white;
    padding: 2px;
    border-radius: 3px;
    margin-right: 5px;
}
.groceryimag .review #views{
    font-size: 13px;
    color: gray;
}
.topdeals{
    display: flex;
    /* flex-direction: column; */
    background-color: rgb(255, 255, 255);
    /* height: 600px; */
    width: auto;
    height: auto;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
}
.tdimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 30px;
    column-gap: 18px;
    margin-top: 21px;
}
.topdeals .titless{
    margin-top: 8px;
}
.mon{
    width: 150px;
}
.boxcont{
    cursor: pointer;
    padding: 26px;
    background-color: rgb(255, 255, 255);
}
.boxcont:hover{
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
}
.boxcont img:hover{
    transform: scale(1.05);
}
.boxcont p{
    font-size: 13px;
    margin-top: 5px;
}
.boxcont h4{
    font-size: 14px;
    margin-top: 5px;
}
footer{
    background-color: black;
    color: white;
    height: 150px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px;
}
.footer p{
    font-size: 14px;
}
.list a{
    font-size: 13px;
    color: rgb(230, 229, 229);
    text-decoration: none;
    padding: 2px;
}
.copyrt{
    font-size: 15px;
}
.medias{
    margin-top:2px;
}
.medias img{
    height: 22px;
    padding: 5px;
}

.copyrt a{
    text-decoration: none;
    color: white;
}
.copyrt a:hover{
    color: blue;
    text-decoration: underline;
}
@media (max-width: 1000px){

}